	
	body {text-align:center;
		  front-size:24px;
		  front-weight:800;
		  color:white;}
canvas { border:5px solid #FFFFFF ;
background-color: #90EE90;
background-image: url('images/trava_grass_gazon_lawn-300x225.png'); }
h1 { font-size:50px; text-align: center; margin: 0; padding-bottom: 25px;}

#menu, #reMenu {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	
}

#reMenu {background: transparent;}

h1, p, a {
	position: relative;  
	z-index: 1; 
	font: 72px "Press Start 2P", cursive;
	color: red;
	text-align: center;
	margin: auto;
}
a{
	font-size : 16px; 
	margin: 0;
	display: inline-block;
	position: relative;
	left: 0;
}

h1 {margin-top: 5%;}

p {
	font-size: 16px;
	margin-top: 10px;
	padding-left: 200px;
}

a#start, a#restart, p#loading {
	font-size: 24px;
	display: block;
	width: 120px;
	top: 30%;	
	left: 0; 
	border-top: 5px solid red;
	border-bottom: 5px solid red;
	padding: 10px;
	text-decoration: none;
	margin: auto; 
}

a#restart {width: 165px; top: 20%}


#score {
	bottom: 2px;
	position: absolute;
	z-index: 1;
	padding-left: 240px;
	font-size: 16px;
	top:82%;
}

p#loading {
	border: none;
	font-size: 16px;
	top: 20%;
	width: 200px;
}

a#start{top: 100%;}

#info2 {padding : 0;}